<html>
<head>
	<title>entry</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Welcome to Zhuoli's LOL</h1>
    <img src = "https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F670a1a33be1fcabdebe882b04d133666%2F203147314%2Flol-tencent-2015-12-17-01.jpg&client=amp-blogside-v2&signature=1d8f1a25702ca2f4924b74add55925a6b29ac80c">
</body>
</html>